@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --branco-principal:#FFFFFF;
    --cinza-secundario:#C0C0C0;
    --botao-azul:#014faf;
    --cor-de-fundo:#00030C;
    --font-principal:'Montserrat';
}
body{
   background-color: var(--cor-de-fundo);
   color: var(--branco-principal);
   font-family: var(--font-principal);
   font-size: 16px;
   font-weight: 400;
}
* {
    margin: 0;
    padding: 0;
}
.conteudo-principal{
    background-image:url("./img/Print-Netflix-logo-marca.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}
.imagem-principal{
    width: 120px;
}
.container{
    height: 100vh;
    display:grid;
    grid-template-columns:50% 50%;
}

.container__botao{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
}
.botao__secundario{
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

